<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightReservation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FlightReservation.Properties.Settings>
            <setting name="pssngrName" serializeAs="String">
                <value />
            </setting>
            <setting name="pssngrPassPort" serializeAs="String">
                <value />
            </setting>
            <setting name="pssngrAirline" serializeAs="String">
                <value />
            </setting>
            <setting name="pssngrDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="pssngrSource" serializeAs="String">
                <value />
            </setting>
            <setting name="tableName" serializeAs="String">
                <value />
            </setting>
            <setting name="pssngrcode" serializeAs="String">
                <value />
            </setting>
            <setting name="FlightDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Reserve" serializeAs="String">
                <value />
            </setting>
        </FlightReservation.Properties.Settings>
    </userSettings>
</configuration>